
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del header */
header {
  font-weight: bold;
  line-height: 1.6;
  background-color: #080808;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben */}
  .header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Para que siempre esté por encima de otros elementos */}
    /* Estilo del logo */
    .logo {
      display: flex; 
      align-items: center;  
      color: #fff;   
      text-decoration: none;    
  }
  .logo img {
    height: 50px;
    margin-right: 10px;    
  }

  /* Estilo de la navegación */
  nav {
    display: flex;
    flex-wrap: wrap; /* Se ajusta para pantallas pequeñas */
  }

  .nav-link {
    color: #FFA500; /* Naranja por defecto */
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    transition: color 0.3s;
  }

  .nav-link:hover,
  .nav-link.active {
    color: #FFFFFF; /* Blanco al hover o cuando está activo */
  }

  /* Contenedor del trabajo */
  .trabajo-container {
    background-color: #FFA500; /* Fondo naranja */
    padding: 5px 0;
  }

  /* Estilo del texto dentro del trabajo-container */
  .trabajo {
    max-width: 1200px;
    margin: 0 auto;
    color: #000000; /* Texto negro */
    text-decoration: none;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
  }

  /* Ajuste de contenedor */
  .container {
    width: 100%;
    position: relative;
  }

/* Ajustes generales */
body {
  overflow-x: hidden;
  font-family: 'Arial', sans-serif; /* Aquí cambias la fuente */
}

@media (max-width: 768px) {
  .header .wrapper {
      flex-direction: column; /* Cambia a disposición vertical en pantallas pequeñas */
  }
  .menu {
      display: block; /* Asegúrate de que los enlaces se vean bien */
  }
}
